{% extends 'base.html' %}

{% block title %}Products{% endblock %}

{% block content %}
<h2>Product List</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Supplier</th>
            <th>Price</th>
            <th>Stock</th>
            <th>Reorder Level</th>
            <th>Expiry Date</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.product_id }}</td>
            <td>{{ product.product_name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.supplier_id.supplier_name }}</td>
            <td>{{ product.unit_price }}</td>
            <td>{{ product.quantity_in_stock }}</td>
            <td>{{ product.reorder_level }}</td>
            <td>{{ product.expiry_date }}</td>
            <td><a href="{% url 'product-urls:product_detail' product.pk %}">View Details</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
