{% extends 'base.html' %}

{% block title %}Suppliers{% endblock %}

{% block content %}
<h2>Supplier List</h2>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for supplier in suppliers %}
        <tr>
            <td>{{ supplier.supplier_id }}</td>
            <td>{{ supplier.supplier_name }}</td>
            <td><a href="{% url 'supplier-urls:supplier_detail' supplier.pk %}">Supplier Details</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
